<a href="https://colab.research.google.com/github/KrimssmirK/CCDATS1L_PROJECT_COM-ML201/blob/main/Data_Science_1_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Questions

1. Why does College-graduated-Filipino usually say to be better work to other countries?
2. Why do parents usually say to their children to graduate a college?
3. Why most of the time do people say that female is more practical than male in the Philippines?
4. divorced? if the female worker gets high salary?

In [96]:
import pandas as pd
import matplotlib.pyplot as plt

retrieve dataset

In [67]:
# get the dataset from github repository
!git clone https://github.com/KrimssmirK/CCDATS1L_PROJECT_COM-ML201.git


dataset_path = "/content/CCDATS1L_PROJECT_COM-ML201/dataset.csv"
dataset = pd.read_csv(dataset_path)
dataset.head(5)

fatal: destination path 'CCDATS1L_PROJECT_COM-ML201' already exists and is not an empty directory.

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [80]:
dataset.size

488415

# Data Wrangling

List all columns in the dataset

In [68]:
columns = list(dataset.columns)
columns

['age',
 ' workclass',
 ' fnlwgt',
 ' education',
 ' education-num',
 ' marital-status',
 ' occupation',
 ' relationship',
 ' race',
 ' sex',
 ' capital-gain',
 ' capital-loss',
 ' hours-per-week',
 ' native-country',
 ' income']

fix the extra space in column names

In [70]:
# remove extra space
for i, col in enumerate(columns):
  columns[i] = columns[i].strip()

# rename the column names
dataset.columns = columns

In [71]:
# check if it is fixed
list(dataset.columns)

['age',
 'workclass',
 'fnlwgt',
 'education',
 'education-num',
 'marital-status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'capital-gain',
 'capital-loss',
 'hours-per-week',
 'native-country',
 'income']

Check if there is NaN values

In [72]:
print("Missing values distribution: ")
print(dataset.isnull().mean())

Missing values distribution:
age               0.0
workclass         0.0
fnlwgt            0.0
education         0.0
education-num     0.0
marital-status    0.0
occupation        0.0
relationship      0.0
race              0.0
sex               0.0
capital-gain      0.0
capital-loss      0.0
hours-per-week    0.0
native-country    0.0
income            0.0
dtype: float64

Check the datatype of each column in the dataset

In [73]:
print("Column datatypes: ")
print(dataset.dtypes)

Column datatypes:
age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
income            object
dtype: object

Data Clean Approach 1: Remove extra spaces

In [74]:
# remove extra space
for col in dataset.columns:
  if dataset[col].dtype != "int64":
    dataset[col] = dataset[col].str.strip()

check age column

In [88]:
dataset["age"].unique()

array([39, 50, 38, 53, 28, 37, 49, 52, 31, 42, 30, 23, 32, 40, 34, 25, 43,
       54, 35, 59, 56, 19, 20, 45, 22, 48, 21, 24, 57, 44, 41, 29, 18, 47,
       46, 36, 79, 27, 33, 76, 55, 61, 70, 64, 71, 66, 51, 58, 26, 17, 60,
       90, 75, 65, 77, 62, 63, 67, 74, 72, 69, 68, 73, 81, 78, 88, 80, 84,
       83, 85, 82, 86])

It seems it has no outliers

In [92]:
print("age distribution:")
print(dataset["age"].describe())

age distribution:
count    30725.000000
mean        38.439512
std         13.119665
min         17.000000
25%         28.000000
50%         37.000000
75%         47.000000
max         90.000000
Name: age, dtype: float64

check workclass column

In [82]:
dataset["workclass"].unique()

array(['State-gov', 'Self-emp-not-inc', 'Private', 'Federal-gov',
       'Local-gov', '?', 'Self-emp-inc', 'Without-pay', 'Never-worked'],
      dtype=object)

workclass column has '?' value

In [87]:
# remove rows that has '?' value in workclass
workclass = dataset["workclass"]
indices = dataset[workclass == "?"].index
dataset = dataset.drop(indices)

check fnlwgt column

In [95]:
print("fnlwgt distribution:")
print(dataset["fnlwgt"].describe())

fnlwgt distribution:
count    3.072500e+04
mean     1.898538e+05
std      1.054585e+05
min      1.376900e+04
25%      1.178330e+05
50%      1.785170e+05
75%      2.373170e+05
max      1.484705e+06
Name: fnlwgt, dtype: float64

In [77]:
dataset["native-country"].unique()

array(['United-States', 'Cuba', 'Jamaica', 'India', '?', 'Mexico',
       'South', 'Puerto-Rico', 'Honduras', 'England', 'Canada', 'Germany',
       'Iran', 'Philippines', 'Italy', 'Poland', 'Columbia', 'Cambodia',
       'Thailand', 'Ecuador', 'Laos', 'Taiwan', 'Haiti', 'Portugal',
       'Dominican-Republic', 'El-Salvador', 'France', 'Guatemala',
       'China', 'Japan', 'Yugoslavia', 'Peru',
       'Outlying-US(Guam-USVI-etc)', 'Scotland', 'Trinadad&Tobago',
       'Greece', 'Nicaragua', 'Vietnam', 'Hong', 'Ireland', 'Hungary',
       'Holand-Netherlands'], dtype=object)

In [97]:
# create a dataset for PH
country = dataset["native-country"]
ph_ds = dataset[country == "Philippines"]
ph_ds.head(5)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
152,33,Private,163003,Bachelors,13,Never-married,Exec-managerial,Other-relative,Asian-Pac-Islander,Female,0,0,40,Philippines,<=50K
434,27,Private,116358,Some-college,10,Never-married,Craft-repair,Own-child,Asian-Pac-Islander,Male,0,1980,40,Philippines,<=50K
655,29,State-gov,71592,Some-college,10,Never-married,Adm-clerical,Unmarried,Asian-Pac-Islander,Female,0,0,40,Philippines,<=50K
881,32,Private,270335,Bachelors,13,Married-civ-spouse,Adm-clerical,Other-relative,White,Male,0,0,40,Philippines,>50K
1281,42,Federal-gov,158926,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,Asian-Pac-Islander,Female,0,0,40,Philippines,>50K

In [107]:
income = ph_ds["income"]
ph_ds[income == "<=50K"]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
152,33,Private,163003,Bachelors,13,Never-married,Exec-managerial,Other-relative,Asian-Pac-Islander,Female,0,0,40,Philippines,<=50K
434,27,Private,116358,Some-college,10,Never-married,Craft-repair,Own-child,Asian-Pac-Islander,Male,0,1980,40,Philippines,<=50K
655,29,State-gov,71592,Some-college,10,Never-married,Adm-clerical,Unmarried,Asian-Pac-Islander,Female,0,0,40,Philippines,<=50K
1609,50,Private,21095,Some-college,10,Divorced,Other-service,Unmarried,Asian-Pac-Islander,Male,0,0,40,Philippines,<=50K
1622,37,Private,70240,HS-grad,9,Never-married,Other-service,Own-child,Asian-Pac-Islander,Female,0,0,40,Philippines,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31506,48,Private,238360,Bachelors,13,Separated,Adm-clerical,Unmarried,Asian-Pac-Islander,Female,0,0,40,Philippines,<=50K
31634,29,Private,82393,HS-grad,9,Married-civ-spouse,Other-service,Own-child,Asian-Pac-Islander,Male,0,0,25,Philippines,<=50K
31770,37,Private,213726,HS-grad,9,Divorced,Machine-op-inspct,Not-in-family,Asian-Pac-Islander,Female,0,0,40,Philippines,<=50K
31787,41,Private,291965,Some-college,10,Never-married,Tech-support,Unmarried,Asian-Pac-Islander,Female,0,0,40,Philippines,<=50K
32428,39,Federal-gov,110622,Bachelors,13,Married-civ-spouse,Adm-clerical,Wife,Asian-Pac-Islander,Female,0,0,40,Philippines,<=50K

In [106]:
sex = ph_ds["sex"]
print("Male:", ph_ds[sex == "Male"]["education-num"].min())
print("Female:", ph_ds[sex == "Female"]["education-num"].min())

Male: 3
Female: 1